*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	line-height: 25px;
}

div.container{
	max-height: 596px;
	max-width: 650px;
	height: 596px;
}
div.logo{
	background-image: url(../img/mailing-17.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	text-align: left;
}
a#renovar{
	font-size: 1.5rem;
	background-color: #009694;
	text-decoration: none;
	color: white;
	padding: 1.2rem;
	border-radius: 10px;
}
img#logo-cliente{
	width: 144px;
	height: 80px;
	margin-top: 10px;
	margin-left: 2rem;
}
p{
	margin-left: 5%;
	margin-right: 5%;
}


footer{
	position: relative;
	top: 3.3%;
	left: 0;
	text-align: center;
	background-color: black;
	height: 36px;
}
img#logo-recaudia{
	height: 30px;
	margin-top: 5px;
}