*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	line-height: 23.5px;
}

div.container{
	max-height: 784px;
	max-width: 650px;
	height: 784px;
}
div.logo{
	background-image: url(../img/mailing-17.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	text-align: left;
}
img#logo-cliente{
	width: 144px;
	height: 80px;
	margin-top: 10px;
	margin-left: 2rem;
}
p{
	margin-left: 5%;
	margin-right: 5%;
}
p#suscripcion-mensual{
	font-size: 2rem;
}
span#mensual{
	color: #0072b0;
}
span.datos-pago{
	font-size: 2rem;
	color: #0072b0;
}
img#logo2-cliente{
	width: 100px;
	max-height: 50px;
}
hr{
	border: 0.5px solid black;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;

}
a{
	background-color: #009694;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: white;
	border-radius: 10px;
}
footer{
	position: relative;
	top: 6.35%;
	left: 0;
	text-align: center;
	background-color: black;
	height: 36px;
}
img#logo-recaudia{
	height: 30px;
	margin-top: 5px;
}